<h1>Trainer Database</h1>

<% @trainers.each do |trainer| %>
  <%=trainer.firstname%>
<% end %>
<!-- <button id="loadTrainer" class="btn btn-lg btn-success">Load Trainer</button>
<button id="addTrainer" class="btn btn-lg btn-info">Add Trainer</button>
<button id="loadSearch" class="btn btn-lg btn-warning">Search Trainer</button>

<input type="text" id="search" placeholder="Enter Trainer Name"><br>

<div id="results">
  <table id="trainer" class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Description</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Image</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody> 
    </tbody>
  </table>
</div>

<div id="trainerForm">
  <fieldset>
    <legend>Add New Trainer</legend>
    <form id="newTrainer" class="form-inline">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="name">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" class="form-control" placeholder="phone">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" placeholder="email">
      </div>

      <button type="submit" class="btn btn-primary" value="Create Contact">Submit</button>
    </form>
  </fieldset>
</div> -->
