<h1>Trainer Database</h1>

<button id="loadTrainer" class="btn btn-lg btn-success">Load Trainer</button>
<button id="addTrainer" class="btn btn-lg btn-info">Add Trainer</button>
<button id="loadSearch" class="btn btn-lg btn-warning">Search Trainer</button>

<input type="text" id="search" name="txt" placeholder="Enter Trainer firstname"><br>

<div id="results">
  <table id="trainers" class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Description</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Image</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody> 
    </tbody>
  </table>
</div>

<div id="trainerForm">
  <fieldset>
    <legend>Add New Trainer</legend>
    <form id="newTrainer" class="form-inline">
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" class="form-control" placeholder="firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" class="form-control" placeholder="lastname">
      </div>

      <div class="form-group">
        <label for="gender">gender</label>
        <select name="gender" id="gender" class="form-control">
          <option value="male">M</option>
          <option value="female">F</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" placeholder="description">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" placeholder="email">
      </div>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" class="form-control" placeholder="phone">
      </div>

      <button type="submit" class="btn btn-primary" value="Create Trainer">Submit</button>
    </form>
  </fieldset>
</div>


