<script src="jquery.js"></script>
<h1>Hey <%= @user.firstname %>!</h1>
Welcome! Were looking forward to helping you get back on track


<button id="userprofile">User Profile</button> 
<div id="trainerinterface">Trainer Interface</div>
<div id ="subuser"> Tell us a bit more about yourself so we can help you reach your goals </div><div id="workoutsshow"><%= render 'subuserform' %></div>
<div id="usermetrics"> Check your progress </div>
<div id="workouts"> Workouts </div>


<script>

$(function() {
    console.log( "ready!" );
  $("#workoutsshow").hide();
  $("#userprofilecontent").hide();
  $("#usermetricsshow").hide();
  $("#trainerinterfaceshow").hide();
    console.log("brap")
  });
$(function() {
  $("#subuser").on('click', function(){
    event.preventDefault();
    $("#workoutsshow").show();
    console.log("derp")
  });
});


</script>
