<style>
tr:nth-child(even){
	background-color:#C8D4CC
}

tr:hover {
	background-color: red;
}

</style>
<script>

</script>
<div class="container">
	<div class="table-responsive">
		<table class="table">
		  <thead>
		    <tr>
		      <th>Today's Available Times</th>
		    </tr>
		  </thead>
		  <tbody>
		  <% @hours.each_with_index do |hour, index| %>
		    <% if (index%2 != 0) %>
		    <tr>
		      <td> <%= hour %> </td>
		    </tr>
		    <% else %>
		    <tr>
		      <td> <%= hour %> </td>
		      <% end %>
		    </tr>
		   <% end %>
		  </tbody>
		</table>
	</div>
</div>