
 <h1> Hi </h1>
 <%= @schedule.time %>

 .hero__layout > .site__centered{
    background-color: black;
    opacity: 0.8;
    width: 100%;
 }

 .time-schedule__place {
  margin-top: 25px;
  font-size: 18px;
 }

 hero hero-full__schedule{
  height: 90px;
 }

 .schedule__info > .btn btn_7 {
  display:none;
 }