<script src="https://static.opentok.com/v2.6/js/opentok.min.js"></script>
<script type="text/javascript">
  var apiKey = '<%= @video_session.api_key %>';
  var sessionId = '<%= @video_session.session_id %>';
  var token = '<%= @video_session.token %>';
</script>
<script src="/assets/dragula.js"></script>
<link href="/assets/videos.css" rel="stylesheet">

<h2>Nav</h2>

<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-4">
      <div id="publisher"></div>
    </div>
    <div class="col-sm-8">
      <div id='left1' class='container'>
        <div>Move me, but you can only drop me in one of these containers.</div>
        <div>If you try to drop me somewhere other than these containers, I'll just come back.</div>
        <div>Item 3.</div>
        <div>Item 6.</div>
      </div>
      <div id='right1' class='container'>
        <div>You can drop me in the left container, otherwise I'll stay here.</div>
        <div>Item 4.</div>
        <div>Item 5.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div id="subscribers"></div>
    </div>
    <div class="col-sm-8">
       <div id="textchat">
         <p id="history"></p>
         <form id="chat-entry">
           <input type="text" placeholder="Input your text here" id="msgTxt"></input>
         </form>
       </div>
    </div>
  </div>
</div>