<script src="https://static.opentok.com/v2.8/js/opentok.min.js"></script>
<script type="text/javascript">
  var apiKey = '<%= @video_session.api_key %>';
  var sessionId = '<%= @video_session.session_id %>';
  var token = '<%= @video_session.token %>';
  console.log('YOUR TOKEN IS:' + token)
</script>
<link href="/assets/videos.css" rel="stylesheet">

<h2>Nav</h2>
<section class="video-chat">
  <div class="container-fluid"> 
    <div class="col-sm-9">
      <div class="large-video-container">
        <div id="large-video"></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="small-video-container">
        <div id="small-video"></div>
      </div>
      <div class="chat-box-heading">
        <h3> Chat </h3>
      </div>
      <div class="chat-box">
        <div id="history"></div>
        <div class="type-box">
          <form id="chat-entry">
           <input type="text" placeholder="Input your text here" id="msgTxt"></input>
           <button value="submit" class="btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="exercises">
  <div class ="col-sm-12">
    <div class="exercise-container">
      <div class="col-sm-4">
        <div class="exercise-inputs">
          <form action="post" name="add-exercise" >
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="name">Name</span>
              <input id="ex-name" type="text" class="form-control" placeholder="Exercise Name">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon2">Metric</span>
              <input id="ex-metric" type="text" class="form-control" placeholder="Reps,Weight,Time" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group-sm">
              <span class="input-group-addon" id="sizing-addon2">Description</span>
              <textarea id="ex-description" name="Text1" cols="19" rows="5"></textarea>
            </div>
            <div class="submit-exercise-button">
              <input id="add-exercise" type="submit" name="add-exercise" value="Click!"/> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>












<!-- 
    <button id="resize"> Resize</button>
  <div class="row">
    <div class="col-sm-4">
      <div id="subscribers"></div>
    </div>
    <div class="col-sm-8">
       <div id="textchat">
         <p id="history"></p>
         <form id="chat-entry">
           <input type="text" placeholder="Input your text here" id="msgTxt"></input>
           <button value="submit" class="btn-success">Submit</button>
         </form>
       </div>
    </div>
  </div>
</div> -->